/* .menu-container{
    width: 100%;
    height: 270px;
    background-color: #ac1f1f;
}
.explore-menu-list-item{
   
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.explore-menu-list{
    display: flex;
}
.explore-menu-list-item img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}
.explore-menu-list-item h3{
    font-size: 1.5rem;
    color: #333;
    text-align: center;
} */
.menu-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin:30px 80px;
}
.menu-title{
    color:black;
    font-weight: 400;
    text-align: center;
}
.explore-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    text-align: center;
    /* margin: 20px 0px ; */
    overflow-x: scroll;
  
}
.explore-menu-list::-webkit-scrollbar{
    display: none;
}
.explore-menu-list-item{
    /* border-radius: 50%; */
    /* background-color: aquamarine; */
    /* overflow: hidden; */
    width: 160px;
    height: 200px;
    margin-left: 10px;
}
.explore-menu-list-item img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-top: 10px;
    /* object-fit: cover; */
    transition: 0.2s;
    /* overflow: hidden; */
}
.explore-menu-list-item img:hover{
    transform: scale(1.1);
}